// Modal
.modal.fade.alerta.modal-sm(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title title
            .modal-body
                p
            .modal-footer
                button#ok.btn.btn-warning(data-dismiss='modal') OK