// Modal
#myAlert.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myAlertLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#myAlertLabel.modal-title title
            .modal-body
                p
            .modal-footer
                button#ok.btn.btn-warning(data-dismiss='modal') OK