// Modal
.modal.fade.alerta.modal-sm(tabindex='-1', role='dialog', aria-labelledby='modal-title', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#modal-title.modal-title title
            .modal-body
                p
            .modal-footer
                button#ok.btn.btn-warning(data-dismiss='modal') OK