
.modal.fade.confirm(tabindex='-1', role='dialog', aria-labelledby='modal-title', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#modal-title.modal-title
            .modal-body
                p
            .modal-footer
                button.btn.btn-warning(data-dismiss='modal') Cancel
                button.submit.btn.btn-success Ok