//
   Created by cristobal on 04/04/14.

nav.navbar.navbar-default(role='navigation')
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#menu')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#') Inventario
        #menu.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='/ventas') Ventas
                li
                    a(href='/compras') Compras
                li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown')
                        | Configuraciones
                        b.caret
                    ul.dropdown-menu
                        li.dropdown-submenu
                            a(href='#') Productos
                            ul.dropdown-menu
                                li
                                    a(href='/producto') Agegar
                                    a(href='#') Lista
                        li.dropdown-submenu
                            a(href='#') Categorias
                            ul.dropdown-menu
                                li
                                    a(href='/categoria') Agegar
                                    a(href='/categorias') Lista

            ul.nav.navbar-nav.navbar-right
                li
                    a.logout
                        | Salir
                        b.glyphicon.glyphicon-log-out


include modals/alert
include modals/confirm

script(src='/js/views/inicio.js')
script(src='/js/controllers/InicioController.js')

