//
   Created by cristobal on 05/02/14.


extends ../layout

block content
    link(rel='stylesheet', href='/css/form-bootstrap.css')
    include ../navbar

    .container
        if success
            h1 #{titulo}
            table.table
                thead
                    tr
                        th #
                        th Nombre
                        th
                        th
                tbody
                    each categoria, i in categorias
                        tr
                            td #{(i+1)}
                            td #{categoria.nombre}
                            td
                                a.btn.btn-primary(href="./categoria/#{categoria._id}") Editar
                            td
                                a.btn.btn-danger(href="#") Eliminar
        else
            .alert.alert-warning
                button.close(type="button", data-dismiss="alert", aria-hidden="true") &times
                h1 No hay categorias en el sistema.

